* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
    padding: 12px;

}

.header{
    margin-block: 20px;
}

.header img{
    width: 25%;
}

.figure {
    padding: 24px;

}

.figure img{
    width: 100%;
    height: 100%;

}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 48px;
    gap: 16px;

}

.section h2{
    font-size: 26px;
}

.section p{
    font-size: 12px;
    line-height: 1.6;
}

.section button{
    font-family: inherit;
    margin-bottom: 32px;
    padding: 6px;
    font-size: 10px;
    width: 50%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    cursor: pointer;

}

.social-media {
    margin-block: 20px;
    float: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    
}
.social-media i {
    width: 16px;
    height: 16px;
    border: 1px solid hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    padding: 12px;

}